PROJECT_NAME           = tj-tools
PROJECT_NUMBER         = 0.1
OUTPUT_DIRECTORY       = doxygen/
JAVADOC_AUTOBRIEF      = YES
OPTIMIZE_OUTPUT_FOR_C  = YES
INPUT                  = src/
RECURSIVE              = YES
SOURCE_BROWSER         = YES
CLASS_DIAGRAMS         = YES
HAVE_DOT               = YES

# INLINE_SOURCES         = NO
# ALPHABETICAL_INDEX     = NO
